 <%= link_to "Adicionar", new_person_path, remote: true, class: "btn btn-success fields-show-button" %>

<table class="table table-striped">
  <thead>
    <tr>           
      <th><label class="section"><%= sort_link @search, :name, "Nome" %></label></th>      
      <th>Total</th>  
      <th>Total a pagar</th>
      <th>Ação</th>                
    </tr>
  </thead>

  <tbody id="people">
    <%= render @people %>
  </tbody>    
</table>

<%= render 'composer/dialog' %>