<table class="table table-striped">
  <thead>
    <tr>
      <th>Valor</th>
      <th>Pessoa</th>      
    </tr>
  </thead>

  <tbody id="installments">
    <%= render "detail_installments" %>
  </tbody>    
</table>

<%= render 'total_value' %>
<%= render 'composer/dialog' %>