<% if @installments.first.present?
    sum_value =  @installments.first.attributes.key?('total_value') ? @installments.map(&:total_value) : @installments.map(&:value)
    sum_value = sum_value.inject(:+)
  end
 %>
<div class="alert alert-info" role="alert">Total: <%= number_to_currency(sum_value) %></div>