
<table class="table table-striped">
  <thead>
    <tr>
      <th>Código</th>
      <th>Data</th>
      <th>Estabelecimento</th>      
      <th>Valor</th>      
      <th>Pessoa</th>      
    </tr>
  </thead>

  <tbody id="installments">
    <%= render @installments %>
  </tbody>    
</table>

<% sum_value =  @installments.first.attributes.key?('total_value') ? @installments.map(&:total_value) : @installments.map(&:value)
   sum_value = sum_value.inject(:+)
 %>
<div class="alert alert-info" role="alert">Total: <%= number_to_currency(sum_value) %></div>

<%= render 'composer/dialog' %>