
<table class="table table-striped">
  <thead>
    <tr>
      <th>Código</th>
      <th>Data</th>
      <th>Valor</th>      
      <th>Pessoa</th>      
    </tr>
  </thead>

  <tbody id="installments">
    <%= render @installments %>
  </tbody>    
</table>

<div class="alert alert-info" role="alert">Total: <%= number_to_currency(@installments.map(&:total_value).inject(:+)) %></div>

<%= render 'composer/dialog' %>