 <%= link_to "Adicionar", new_purchase_path, remote: true, class: "btn btn-success fields-show-button" %>

 <div class="col-sm-2 navbar-form pull-right">
      <%= render "composer/search", path: purchases_path%>
  </div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Código</th>
      <th>Data</th>
      <th>Estabelecimento</th>      
      <th>Valor</th>      
      <th>Ação</th>      
    </tr>
  </thead>

  <tbody id="people">
    <%= render @purchases %>
  </tbody>    
</table>

<%= render 'composer/dialog' %>