<%= form_tag(path, :method => "get", id: "search-form", class: "navbar-form") do %>
  
  <div class="input-group">
      <div class="checkbox">
         <label>
          <%= check_box_tag "remaining",true, check_if_true(params[:remaining]) %>
          Restante
         </label>
      </div>

      <span class="input-group-btn">
        <%= button_tag(type: 'submit', class: "btn btn-primary",value: 'buscar') do %>
        <i class="glyphicon glyphicon-filter"></i>
      </span>
      <% end %>    
  </div>

    <% if params[:search].present? %>
      <%= link_to path do %>
        <span class="glyphicon glyphicon-remove"></span>      
    <% end %>

  <% end %>
<% end %>